<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.angel.sunshine">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PrevisionTiempo_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetallesActivity"
            android:parentActivityName=".PrevisionTiempo_activity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PrevisionTiempo_activity" />
        </activity>
        <activity android:name=".Settings_Activity"></activity>

        <service
            android:name=".sync.ForecastSyncService"
            android:exported="false"></service>

        <service
            android:name=".sync.FirebaseJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <provider
            android:authorities="com.example.angel.sunshine"
            android:name="com.example.angel.sunshine.data.PronosticoContentProvider"
            android:exported="false"></provider>
    </application>

</manifest>